html, body {
  font-family: 'Hind Siliguri', sans-serif;
}

.jumbotron {
  height: 65vh;
}

.navbar {
  background: rgba(0,0,0,0.8);
}

.card {
  background-color: rgba(233,236,239,1);
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#skill-html5 {
  background-color: orange;
}

#skill-css3 {
  background-color: yellow;
}

#skill-jquery {
  background-color: rgba(45,103,168,1);
}

#skill-wordpress {
  background-color: rgba(67,137,185,1);
}
